/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss";
/* Load plugins you placed in assets/vendor */
@plugin "../vendor/heroicons.js";
@plugin "../vendor/daisyui.js";
@plugin "../vendor/daisyui-theme.js";

@source "../../deps/cinder";
@source "../../deps/ash_authentication_phoenix";
@source "../css";
@source "../js";
@source "../../lib/ash_phoenix_starter_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.03% 0.026 73.81);
  --color-base-200: oklch(26.72% 0.024 72.14);
  --color-base-300: oklch(23.31% 0.021 69.85);
  --color-base-content: oklch(87.85% 0.054 97.96);
  --color-primary: oklch(55.78% 0.169 142.89);
  --color-primary-content: oklch(100.0% 0.0 90.38);
  --color-secondary: oklch(47.08% 0.112 50.85);
  --color-secondary-content: oklch(100.0% 0.0 90.38);
  --color-accent: oklch(88.68% 0.182 95.33);
  --color-accent-content: oklch(0.0% 0.0 0.0);
  --color-neutral: oklch(47.08% 0.112 50.85);
  --color-neutral-content: oklch(100.0% 0.0 90.38);
  --color-info: oklch(82.06% 0.095 236.75);
  --color-info-content: oklch(0.0% 0.0 0.0);
  --color-success: oklch(74.19% 0.229 142.83);
  --color-success-content: oklch(0.0% 0.0 0.0);
  --color-warning: oklch(75.16% 0.147 83.99);
  --color-warning-content: oklch(0.0% 0.0 0.0);
  --color-error: oklch(61.54% 0.144 22.23);
  --color-error-content: oklch(100.0% 0.0 90.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96.36% 0.033 107.0);
  --color-base-200: oklch(92.86% 0.036 96.72);
  --color-base-300: oklch(87.85% 0.054 97.96);
  --color-base-content: oklch(32.11% 0.0 90.38);
  --color-primary: oklch(55.78% 0.169 142.89);
  --color-primary-content: oklch(100.0% 0.0 90.38);
  --color-secondary: oklch(47.08% 0.112 50.85);
  --color-secondary-content: oklch(100.0% 0.0 90.38);
  --color-accent: oklch(88.68% 0.182 95.33);
  --color-accent-content: oklch(0.0% 0.0 0.0);
  --color-neutral: oklch(47.08% 0.112 50.85);
  --color-neutral-content: oklch(100.0% 0.0 90.38);
  --color-info: oklch(82.06% 0.095 236.75);
  --color-info-content: oklch(0.0% 0.0 0.0);
  --color-success: oklch(74.19% 0.229 142.83);
  --color-success-content: oklch(0.0% 0.0 0.0);
  --color-warning: oklch(75.16% 0.147 83.99);
  --color-warning-content: oklch(0.0% 0.0 0.0);
  --color-error: oklch(61.54% 0.144 22.23);
  --color-error-content: oklch(100.0% 0.0 90.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}
/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */